* {max-width: 100%;
overflow-x: hidden;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a{
  text-decoration: none;
  font-family: Helvetica;
  color: #5b5b5b;
  font-size:16px;
}

#grid{
  display:grid;
  grid-template-columns:1fr 1fr;
}

#grid div{
  margin-top: 0px;
  margin-left: 5px;
}

#grid ul li{
  float:right;
  padding:20px;
  list-style-type:none;
  margin-top: -15px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
}

.wrapper .box p{
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 15px;
}

.grid:after, .wrapper:after{
  content:"";
  display: block;
  clear: both;
}


/*product page*/

#add{
  background-color:#7027C3;
  color: white;
  padding: 15px 30px;
  border: 0;
  font-size: 15px;
}

.describe{
  width: 75%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 1% 1%;
  margin: 10px auto;
}

.aside{
  padding-left: 50px;
}


.describe:after{
  content: "";
  display: block;
  clear: both;
}


/* Responsive Web */

@media screen and (max-width:640px) {
  .wrapper{
    display: block;
  }
  section, aside{
    clear: both;
  }
}

@media screen and (max-width:320px) {
  .wrapper{
    display: block;
  }
}
